.header__links {
    padding: 0;
    margin: 7px 0 0 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}

@media (min-width: 768px) {
    .header__links {
        margin-top: 14px;
    }
}