.intro__list {
    /* max-width: 288px; */
    max-width: 90vw;
    min-height: 90px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    list-style: none;
    text-align: start;
    padding: 0 0 0 0;
    margin: auto;
}


@media (min-width: 768px) {
    .intro__list {
        max-width: 720px;
        min-height: 90px;
    }
}

@media (min-width: 1024px) {
    .intro__list {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }
}