.lead {
    margin-top: 48px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media (min-width: 768px) {
    .lead {
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .lead {
        margin-bottom: 92px;
    }
}

@media (min-width: 1280px) {
    .lead {
        margin-top: 56px;
    }
}