.header__link {
    margin-left: 19px;

    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: none;
    color: #FFFFFF;
}

.header__link:hover {
    text-decoration-line: underline;
    text-underline-offset: 3px;
}