.footer__links {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer__links {
        margin-bottom: 24px;
        flex-direction: row;
    }
}