.lead__image {
    width: 100vw;
    width: 100%;
    min-height: 200px;
    background-image: url("../../../images/rail_road_map.svg");
    background-size: cover;
    background-position: center;
    margin: 0px auto 0px auto;
}

@media (min-width: 768) {
    .lead__image {
        min-height: 480px;
    }
}

@media (min-width: 1024px) {
    .lead__image {
        width: 928px;
    }
}

@media (min-width: 1280px) {
    .lead__image {
        width: 984px;
    }
}