.intro {
    max-width: 90vw;
    margin: 64px auto 64px auto;
}

@media (min-width: 768px) {
    .intro {
        max-width: 720px;
        margin-top: 88px;
        margin-bottom: 88px;
    }
}

@media (min-width: 1024px) {
    .intro {
        max-width: 690px;

        margin-top: 92px;
        margin-bottom: 92px;
        margin-right: 0;
        margin-left:calc((100vw - 928px)/2);
    }
}

@media (min-width: 1280px) {
    .intro {
        margin-left:calc((100vw - 984px)/2);
    }
}