.place__link{
    max-width: calc(100vw - 10vw);
/* max-width: 288px; */
min-height: 22px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin: 0;
text-decoration-line: underline;
}

