.place__url-heading {
max-width: calc(100vw - 10vw);
min-height: 12px;
font-family: "Inter", Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 12px;
letter-spacing: 0.2em;
color: #aaa;

margin: 0px 0px 12px 0px;
text-transform: uppercase;
}